#AchievementBox{
    margin-top: 20px;
}

#achievementItem{
    padding-left: 15px;
    padding-right: 15px;
}

#av_mediaLeft{
    border-right: 1px solid #dddddd;
}


#av_mediaRight{
    border-left: 1px solid #dddddd;
}

#av_name{
    font-size: 200%;
}
