body {
  /* put everthing under the nav bar */
  padding-top: 25px;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
 }

#theBigBorder{
  min-height: 80vh;
  max-height: 80vh;
  padding-top: 1em;
}

#maincontent{
  overflow-y: auto;
  min-height: 80vh;
  border-left: 1px solid;
  border-bottom: 1px solid;
}

#statusbar{
	float: right;
  min-height: 80vh;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

#user_fitnesspoints{
  color: white;
  background-color: #0099ff;
  text-align: center;
}

footer {
  background-color: black;
}
