body {
  /* put everthing under the nav bar */
  padding-top: 50px;
  padding-bottom: 20px;
  height:70%;
 }

#maincontent{
	width: 100%;
  min-height: 100vh;
  padding-top: 1em;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.75);
}

#statusbar{
	float: right;
}

#user_fitnesspoints{
  color: white;
  background-color: #0099ff;
  text-align: center;
}
