
html{
    text-align: center;
}

#EmailRow{
    align-items: center;
}

#GamificationPlatformName{
    text-align: center;
    font-size: 800%;
}

#EMailTag{
    margin-top: 5px;
}

#PwdRow{
    margin-top: 10px;
}

#PasswordTag{
    margin-top: 5px;
}

#RegisterRow{
    margin-top: 5px;
    text-align: right;
}

#PwdForgetRow{
    text-align: right;
}

#LoginContainer{
    margin-top: 100px;
}
