.tabelle{
    padding-top: 20px;
    padding-left: 20px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.formpadding{
    padding-top: 60px;
}

.buttons{
    padding-left:  1000px;
}

.table{
    font-size: 110%;
    text-align: center;
    color: black;
    margin-left: auto;
    margin-right: auto;
}

.farbe-bestanden{
    background-color: LightGreen;
}

#moduleButton{
    min-height: 60px;
    font-size: 13px;
    white-space: pre-wrap;
}

#semesterRow{
    margin-top: -20px;
}

#modulebox{
    padding: 10px;
}
