<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HomePage Study Buddy</title>
	<meta name="description" content="GamificationPlatform">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<!-- Custom themes -->
	<link rel="stylesheet" type="text/css" href="/css/NavBar.css">
        <link rel="stylesheet" type="text/css" href="/css/Homepage.css">
	<link rel="stylesheet" type="text/css" href="/css/Modulplan.css">
	<link rel="stylesheet" type="text/css" href="/css/Achievements.css">
	<link rel="stylesheet" type="text/css" href="/css/Instructor.css">
	<link rel="stylesheet" type="text/css" href="/css/Registration.css">
	<!-- Font -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<!-- Personal JS -->
	<script src="../js/Instructor.js"></script>
	<script src="../js/Modulplan.js"></script>

</head>

<body>
	<!-- Fixed navbar -->
    <nav class="navbar navbar-fixed-top navbar-default navbar-custom ">
      <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
		<!--<a class="navbar-brand" href="#">-->
			{if isset($currentInstructor)}
				<a class="navbar-brand">Study Buddy Admin</a>
			{/if}
			{if !isset($currentInstructor)}
				<a class="navbar-brand">Study Buddy</a>
			{/if}


        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

						{if isset($currentUser)}
						<li class="divider-vertical"></li>
						<li><a id="modulplan" href="index.php?controller=ModuleController&action=showModulplan">Modulplan</a></li>
            <li class="divider-vertical"></li>
            <li><a id="achievements" href="index.php?controller=AchievementController&action=showAchievements">Achievements</a></li>
						<li class="divider-vertical"></li>
						{/if}
					</ul>
          <ul class="nav navbar-nav navbar-right">

						{if !isset($currentUser)}
							{if !isset($currentInstructor)}
								<li class="divider-vertical"></li>
								<li><a href="index.php?controller=UserController&action=showLogin">Login</a></li>
							{/if}
						{/if}

						{if isset($currentUser)}
							<li><a>{$currentUser->getName()}</a></li>
							<li class="divider-vertical"></li>
							<li><a href="index.php?controller=UserController&action=logoutUser">Logout</a></li>
						{/if}

						{if isset($currentInstructor)}
							<li class="divider-vertical"></li>
							<li><a href="index.php?controller=UserController&action=logoutInstructor">Logout</a></li>
						{/if}

						</ul>
        </div>
      </div>
    </nav>
<div id = "theBigBorder">
		{if !isset($currentInstructor)}
			{if !isset($currentUser)}
					<div class="container">
							<div class="row">
								<div id="logincontent" class="col-md-6 col-md-offset-3">
									{$homepage_content}
								</div>
							</div>
					</div>
			{/if}
		{/if}

		{if isset($currentInstructor)}
					<div class="container">
						<div class="row">
							<div id="admincontent" class="col-xs-12">
								{$homepage_content}
							</div>
						</div>
					</div>
		{/if}

		{if isset($currentUser)}
			<div class="container">
				<div class="row">
					<div id="maincontent" class="col-md-9">
              <h1></h1>
              <div id="mainpanel" class="panel panel-default">
									{$homepage_content}
  						</div>
					</div>
					<div id="statusbar" class="col-md-3">

						<h1></h1>

            <div id = "sidebarOutsidePanel" class="panel panel-default">
                <div class="panel-body">
									<div class="panel panel-default">
											<div class="panel-body">
													<div>
															<div>
																 Studienfortschritt: {$currentUser->getCurrentCPPercent()}%

																		<div class="progress">
																				<div id="progress_cp" class="progress-bar progress-bar-success"
																															role="progressbar"
																															aria-valuenow="0"
																															aria-valuemin="0"
																															aria-valuemax="220"
																															style="width: {$currentUser->getCurrentCPPercent()}%">
																														  <span>
																																	{$currentUser->getCurrentCp()}/{$currentUser->getActiveCourseMaxCp()} CP
																															</span>
																				</div>
																		</div>
																</div>
													</div>
													<div>
															<div>
																<hr>
																	Deine Fitnesspoints: {$currentUser->getFitnesspoints($currentUser)}<br>
																	Durchschnitt in {$currentUser->getCurrentCourseAbbreviation()}: {$currentUser->getAVGFitnesspoints()}<br>
																	Ranking: #{$currentUser->getCurrentRanking()} in
																	{$currentUser->getCurrentCourseAbbreviation()}
															</div>
													</div>

							{if isset($codeValid)}
							<hr>
								<div class="alert alert-success">
										<strong>Glückwunsch!</strong> Ihr Code wurde erfolgreich eingelöst.
								</div>
							{/if}
							{if isset($codeFalse)}
									{if $error == 1}
									<hr>
										<div class="alert alert-danger">
											<strong>Achtung!</strong> Ihr Code wurde schon einmal eingelöst.
										</div>
									 {/if}
							{if $error == 2}
							<hr>
									<div class="alert alert-danger">
											 <strong>Achtung!</strong> Ihr Code ist ungültig oder abgelaufen.
									</div>
							{/if}
					{/if}
					<div>
						<hr>
              <div class="panel-body">
							<form action="index.php?controller=FitnesspointController&action=testFitnessCode" class="text-center" method="post">

													<div class="row form-row">
															<input name="code_input" id="codeinput" type="text" class="form-control" placeholder="Fitness-Code eingeben..." maxlength="14" required>
													</div>
													<div class="panel-body">
															<Button id="submitbtn" type="submit" class="btn btn-default">Einlösen</Button>
													</div>
											</div>

								</form>
                </div>
							</div>
					</div>

					<div class="panel panel-default">
							<div class="panel-body">
									letzte Achievements:
									<ul class="list-group">
											{foreach from = $currentUser->getRecentAchievements() item = $achievement}
												<li class="list-group-item">
														<b>{$achievement->getName()}</b>
														<p>Fitnesspoints: {$achievement->getValue()}</p>
												</li>
											{/foreach}
									</ul>
							</div>
						</div>
								</div>
        	</div>
				</div>
			</div>
    </div>
{/if}
</div>
</body>
</html>
