<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HomePage Study Buddy</title>
	<meta name="description" content="GamificationPlatform">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<!-- Custom themes -->
	<link rel="stylesheet" type="text/css" href="/css/Homepage.css">
	<link rel="stylesheet" type="text/css" href="/css/NavBar.css">
	<link rel="stylesheet" type="text/css" href="/css/Modulplan.css">
	<link rel="stylesheet" type="text/css" href="/css/Achievements.css">
	<link rel="stylesheet" type="text/css" href="/css/Instructor.css">
	<link rel="stylesheet" type="text/css" href="/css/Registration.css">
	<!-- Font -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<!-- Personal JS -->
	<script src="../js/Navbar.js"></script>
	<script src="../js/Instructor.js"></script>
	<script src="../js/Modulplan.js"></script>

</head>

<body>
	<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
		<a class="navbar-brand" href="#">
			{if isset($currentInstructor)}
				<a class="navbar-brand" href="#">Study Buddy Admin</a>
			{/if}
			{if !isset($currentInstructor)}
				<a class="navbar-brand" href="#">Study Buddy</a>
			{/if}
          <button type="button" class="navbar-toggle collapsed" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

						{if isset($currentUser)}
						<li class="divider-vertical"></li>
						<li><a id="modulplan" href="index.php?controller=ModuleController&action=showModulplan">Modulplan</a></li>
            <li class="divider-vertical"></li>
            <li><a id="achievements" href="index.php?controller=AchievementController&action=showAchievements">Achievements</a></li>
						<li class="divider-vertical"></li>
						{/if}
					</ul>
          <ul class="nav navbar-nav navbar-right">

						{if !isset($currentUser)}
							{if !isset($currentInstructor)}
								<li class="divider-vertical"></li>
								<li><a href="index.php?controller=UserController&action=showLogin">Login</a></li>
							{/if}
						{/if}

						{if isset($currentUser)}
							<li class="divider-vertical"></li>
							<li><a href="index.php?controller=UserController&action=logoutUser">Logout</a></li>
						{/if}

						{if isset($currentInstructor)}
							<li class="divider-vertical"></li>
							<li><a href="index.php?controller=UserController&action=logoutInstructor">Logout</a></li>
						{/if}

						</ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div id = "theBigBorder">
		{if !isset($currentInstructor)}
			{if !isset($currentUser)}
					<div class="container">
							<div class="row">
								<div id="logincontent" class="col-xs-12">
									{$homepage_content}
								</div>
							</div>
					</div>
			{/if}
		{/if}

		{if isset($currentInstructor)}
					<div class="container">
						<div class="row">
							<div id="admincontent" class="col-xs-12">
								{$homepage_content}
							</div>
						</div>
					</div>
		{/if}

		{if isset($currentUser)}
			<div class="container">
				<div class="row">
					<div id="maincontent" class="col-xs-9">
						{$homepage_content}
					</div>
					<div id="statusbar" class="col-xs-3">

						<h1></h1>

            <div class="panel panel-default">
                <div class="panel-body">
                    Sidebar
								</div>
                <div class="panel-footer">  <
								    	<div class="panel panel-default">
                          <div class="panel-body">
														  <div>
				                          <div>
                                     Studienfortschritt:
								                      	<div class="progress">
										                        <div id="progress_cp" class="progress-bar progress-bar-success progress-bar-striped active"
										                                            	role="progressbar"
										                                            	aria-valuenow="0"
										                                             	aria-valuemin="0"
										                                            	aria-valuemax="220"
										                                             	style="width: {$currentUser->getCurrentCPPercent()}%">
					        	                        </div>
					      	                      </div>
                                        <div>
                                            CP Aktuell: {$currentUser->getCurrentCp()}/{$currentUser->getActiveCourseMaxCp()}<br>
                                            CP in Prozent: {$currentUser->getCurrentCPPercent()}%
                                        </div>
					                          </div>
						                  </div>
                              <div>
                                  <br>
								                  <div>
                                      Fitnesspoints: {$currentUser->getFitnesspoints($currentUser)}<br>
                                      Ranking: #{$currentUser->getCurrentRanking()} in
                                      {$currentUser->getCurrentCourseAbbreviation()}
							                  	</div>
                              </div>
                            </div>
                        </div>
						    	{if isset($codeValid)}
                    <div class="alert alert-success">
                        <strong>Glückwunsch!</strong> Ihr Code wurde erfolgreich eingelöst.
                    </div>
							    {/if}
						      {if isset($codeFalse)}
                      {if $error == 1}
                        <div class="alert alert-danger">
                          <strong>Achtung!</strong> Ihr Code wurde schon einmal eingelöst.
                        </div>
                       {/if}
                  {if $error == 2}
                      <div class="alert alert-danger">
                           <strong>Achtung!</strong> Ihr Code ist ungültig oder abgelaufen.
                      </div>
                  {/if}
              {/if}
						  <div>
							    <form action="index.php?controller=FitnesspointController&action=testFitnessCode" class="form-inline text-center" method="post">
                      <div class="panel panel-default">
                          <div class="panel-body">
                              <div class="row form-row">
                                  <input name="code_input" id="codeinput" type="text" class="form-control" size="20" placeholder="Fitness-Code eingeben...">
                              </div>
                              <div class="panel-body">
                              		<Button id="submitbtn" type="submit" class="btn btn-default">Einlösen</Button>
                              </div>
                          </div>
                      </div>
              		  </form>
							</div>

              <div class="panel panel-default">
                  <div class="panel-body">
                      letzte Achievements:
                      <ul class="list-group">
                					{foreach from = $currentUser->getRecentAchievements() item = $achievement}
                						<li class="list-group-item">
                            		<b>{$achievement->getName()}</b>
                            		<p>Fitnesspoints: {$achievement->getValue()}</p>
                						</li>
                					{/foreach}
                      </ul>
                  </div>
              	</div>
          	</div>
        	</div>
				</div>
			</div>
    </div>
{/if}
</div>
</body>
<footer>
	<div class="container">
		<div id = "footerRow" class="row">
			<div id= "footerColumn" class="col-xs-12">
				<br>
				<h2  id = "footerText">Study Buddy by Group I</h2>
			</div>
    </div>
	</div>
</footer>
</html>
