<!DOCTYPE html>
<html>
    <head>
        <title>Webprojekt</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>The users are:</h1>
        <ul>
            {* foreach loop to iterate over all user objects in the users table and show all their personal information *}
            {foreach from=$users item=$user}
            <li>
                <a href="index.php?controller=User&action=apply&id={$user->getId()}">{$user->getId()}</a>
                <a href="index.php?controller=User&action=apply&name={$user->getName()}">{$user->getName()}</a>
                <a href="index.php?controller=User&action=apply&password={$user->getPassword()}">{$user->getPassword()}</a>
                <a href="index.php?controller=User&action=apply&regDate={$user->getRegdate()}">{$user->getRegdate()}</a>
                <a href="index.php?controller=User&action=apply&email={$user->getEmail()}">{$user->getEmail()}</a>
                <a href="index.php?controller=User&action=apply&activeCourse={$user->getActiveCourse()}">{$user->getActiveCourse()}</a>
                <a href="index.php?controller=User&action=apply&fitnesspoints={$user->getFitnesspoints()}">{$user->getFitnesspoints()}</a>
            </li>
            {/foreach}
        </ul>
        <div>Those are the users and their data saved in the database</div>
        <h1>The instructors are:</h1>
        <ul>
            {* foreach loop to iterate over all user objects in the insturctors table and show all their personal information *}
            {foreach from=$instructors item=$instructor}
            <li>
                <a href="index.php?controller=User&action=apply&id={$instructor->getId()}">{$instructor->getId()}</a>
                <a href="index.php?controller=User&action=apply&name={$instructor->getName()}">{$instructor->getName()}</a>
                <a href="index.php?controller=User&action=apply&password={$instructor->getPassword()}">{$instructor->getPassword()}</a>
                <a href="index.php?controller=User&action=apply&email={$instructor->getEmail()}">{$instructor->getEmail()}</a>
                <a href="index.php?controller=User&action=apply&activeCourse={$instructor->getApproved()}">{$instructor->getApproved()}</a>
            {/foreach}
        </ul>
        <div>Those are the instructors and their data saved in the database</div>

    </body>
</html>
