
<ul class="list-group">
{foreach from = $userAchievements item = $achievement}
<li class="list-group-item">
  <div class="media">
     <div class="media-left media-middle">
         <a href="#">
             <img class="media-object" src="img/trophy.png" alt="" width="128" height="128">
         </a>
     </div>
     <div id= "achievementItem" class="media-body">
         <h4 class="media-heading">{$achievement->getName()}</h4>
         {$achievement->getValue()} Fitnesspoints<br>
         {$achievement->getDescription()}

     </div>
      <div class="media-right">
          {$achievement->getCreatedDate()}
      </div>
   </div>
</li>
{/foreach}
</ul>
