<h1>Modulplan {$currentUser->getCourseAbbreviation()}</h1>

<div class="btn-group btn-group-justified" role="group" aria-label="...">
    {foreach from = $allModules item = $module}

    {if $module->getSemester() != $semester}
</div>
<br>
<div id = "semesterRow" class="btn-group btn-group-justified" role="group" aria-label="...">
    {/if}

    <div class="btn-group" role="group">
        <button id = "moduleButton"  name="{$module->getName()}" type="button" data-toggle="modal" data-target="#gradeModal" class="btn btn-default">{$module->getName()}</button>
    
    <div id="gradeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">Close</button>
                <h4 class="modal-title">Enter Grade for: {$module->getName()}</h4>
            </div>
            <div class="modal-body">
                <form>
                     Grade<br>
                    <input id="gradeInput" type="text" title="grade" placeholder="Enter your grade"><br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Accept</button>
            </div>
        </div>

    </div>
</div>
    </div>
    {$semester = $module->getSemester()}
    {/foreach}
</div>

<!--<br>-->



<script>
 $('#gradeModal').on('show.bs.modal', function(e) {
    var name = e.relatedTarget.name;
    window.alert(name);
 });
</script>