{if isset($currentInstructor)}
<div class="container text-center" id="instructorContainer">



		<div id="alertBox" class="">
			<div id="alertContent">
				<p id="alertText"></p>
				<span class="glyphicon glyphicon-remove-sign" id="alertGlyph"></span><br>
			</div>
			<div class="progress">
				<div class="" id="alertProgress" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="width:0%"></div>
			</div>
		</div>


		<ul class="list-group text-left" id ="tabList">

			<li class="list-group-item listItem" id="listItem0">Admins anzeigen <span class="glyphicon glyphicon-menu-down listItemGlyph" id="listItemGlyph0" style="float:right"></span></li>

			<div id="listItemArea0" class="listItemArea text-center">
			<br><br><br>

				<div class="container-fluid" id="instructorTableArea">

				<table class="table table-striped userTable" id="userTable0">
						<thead>
							<tr>
								<th>Username</th>
								<th>Email</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							{foreach from = $instructors item = $instructorElem}
							<tr>
								<td>{$instructorElem->getName()}</td>
								<td>{$instructorElem->getEmail()}</td>
								<td>{if $instructorElem->getApproved() eq 0}
										Inaktiv (<a href="index.php?controller=InstructorController&action=approveInstructor&id={$instructorElem->getId()}&update=1">Freischalten</a>)
									{else}
										Freigeschaltet
									{/if}</td>
							</tr>
							{/foreach}
						</tbody>
					</table>

				</div>
			<br><br><br>
			</div>

			<li class="list-group-item listItem" id="listItem1">User anzeigen <span class="glyphicon glyphicon-menu-down listItemGlyph" id="listItemGlyph0" style="float:right"></span></li>



				<div id="listItemArea1" class="listItemArea text-center">
				<br><br><br>

				<div class="container-fluid" id="userTableArea">

					<table class="table table-striped userTable" id="userTable1">
						<thead>
							<tr>
								<th>Username</th>
								<th>Anmeldedatum</th>
								<th>Email</th>
								<th>Fitnesspoints</th>
							</tr>
						</thead>
						<tbody>
							{foreach from = $users item = $userElem}
							<tr>
								<td>{$userElem->getName()}</td>
								<td>{$userElem->getRegDate()}</td>
								<td>{$userElem->getEmail()}</td>
								<td>{$userElem->getFitnesspoints($userElem)}</td>
							</tr>
							{/foreach}
						</tbody>
					</table>
				</div>


				<br><br><br>
				</div>


			<li class="list-group-item listItem" id="listItem2">Achievements erstellen<span class="glyphicon glyphicon-menu-down listItemGlyph" id="listItemGlyph1" style="float:right"></li>

				<div id="listItemArea2" class="listItemArea text-center">
				<br><br><br>

						<form class="form-class form-inline" width="100%" id="createAchievementForm" role="form" method="" action="javascript:createAchievement()">
								<H4> Ein Achievement erstellen:</H4>
								<input class="form-control" size="80%" placeholder="Name des Achievements" type="text" id="achievementName" maxlength="80"></input>
								<input class="form-control" size="10%" id="achievementPoints" type="number" placeholder="0" min="0" step="01"></input>
								<input class="form-control" size="10%" type="submit" value="Achievement erstellen"></input>
						</form>

						<br><br><br>

						<form class="form-class form-inline" method="" width="100%" action="#">
							<h4>Generierter Code:</h4>
							<input class="form-control text-center codeInput" size="33%" id="codeInput0" type="text" readonly></input>
							<input class="form-control text-center codeInput" id="codeInput1" size="33%" type="text" readonly></input>
							<input class="form-control text-center codeInput" id="codeInput2" size="33%" type="text" readonly></input>
					</form>


				<br><br><br>
				</div>


			<li class="list-group-item listItem" id="listItem3">Achievements anzeigen <span class="glyphicon glyphicon-menu-down listItemGlyph" id="listItemGlyph2" style="float:right"></li>

				<div id="listItemArea3" class="container-fluid listItemArea text-center">
					<br><br><br>

					<table class="table table-striped" id="achievementsListTable">
						<thead>
							<tr>
								<th>Name</th>
								<th>Fitnesspoints</th>
								<th>Code</th>
								<th>Ablaufdatum</th>
							</tr>
						</thead>
						<tbody>
							{foreach from = $achievements item = $achievement}
							<tr>
								<td>{$achievement->getName()}</td>
								<td>{$achievement->getValue()}</td>
								<td>{$achievement->getCode()}</td>
								<td>{$achievement->getObtainedDate()}</td>
							</tr>
							{/foreach}
						</tbody>
					</table>

					<br><br><br>
				</div>


		</ul>

	</div>
{/if}
